a {
  text-decoration: underline;
  color: purple;
}

header {
  background-color: black;
  color: white;
}
ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
}

li {
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  justify-content: space-around;
  padding: 3% 5%;
}

footer {
  background-color: rgb(248, 246, 246);
  clear: both;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid lightgray;
  text-align: center;
  font-size: 15px;
}

.main-left {
  margin: 0 5%;
  width: 15%;
}

.about {
  background-color: lightgrey;
  padding: 4%;
  padding-left: 8%;
}

.archives {
  padding: 4%;
  padding-left: 8%;
}

.main-left h2 {
  font-style: italic;
}

.main-left p {
  font-size: 15px;
}

.main-right {
  margin-right: 4%;
  width: 27%;
}

.main-middle {
  margin-right: 2%;
  width: 27%;
}

.Article-card h2 {
  clear: both;
  margin: 0;
}

.Article-card {
  border: 1px solid lightgrey;
  margin-bottom: 5%;
}

img {
  width: 100%;
  height: 60%;
}

.login {
  width: 18%;
  align-self: center;
}

.login-frame {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8%;
  border-radius: 5px;
  background-color: rgb(240, 240, 240);
}

.Article-card a {
  color: blue;
  text-decoration: none;
}

.content {
  padding: 10% 5%;
}

.email,
.password,
.submit {
  width: 80%;
  height: 35px;
  border: 1px solid lightgray;
  padding: 0 10px;
  color: white;
}

.email {
  border-radius: 5px 5px 0 0;
}

.password {
  border-radius: 0 0 5px 5px;
  border-top: none;
}

.remember-me {
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 10px;
}

.submit {
  background-color: rgb(64, 134, 255);
  color: white;
  font-size: 17px;
  border-radius: 5px;
  width: 100%;
}
